@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* FONTES */
@font-face {
    font-family: borna;
    font-weight: 300;
    src: url("./fontes/Borna-Regular.otf") format("opentype");
}

@font-face {
    font-family: borna;
    font-weight: 400;
    src: url("./fontes/Borna-Medium.otf") format("opentype");
}

@font-face {
    font-family: borna;
    font-weight: 500;
    src: url("./fontes/Borna-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: borna;
    font-weight: 600;
    src: url("./fontes/Borna-Bold.otf") format("opentype");
}

* {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'borna', sans-serif;
    font-weight: 300;
}

ul, h1, h2, h3, p {
    padding: 0;
    margin: 0;
    list-style: none;
}

input:focus,
input:focus-visible{
    outline: none;
    border: inherit;
}

.container {
    width: calc(100% - 20px);
    max-width: 1068px;
    margin: 0 auto;
}

/* HEADER */
.header {
    background: transparent;
    padding: 15px 0;
}
.header-buttons {
    display: none;
}
.nowrap {
    text-wrap: nowrap;
}
@media(min-width: 1026px) {
    .header {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 999;
        transition: .1s linear;
        height: 70px;
        box-sizing: border-box;
    }
    .header.scrolled {
        background: #FFF;
        border-bottom: 1px solid #FFF;
    }
    .header.scrolled .header-buttons {
        display: block;
    }
    .header-image__color {
        display: none;
    }
    .header.scrolled .header-image__notcolor {
        display: none;
    }
    .header.scrolled .header-image__color {
        display: block;
    }
}

@media(max-width: 1025px) {
    .header-image__color {
        display: none;
    }
    .header {
        position: relative;
        width: 100%;
        height: 70px;
        box-sizing: border-box;
        z-index: 999;
    }
}

@media(min-width: 1026px) {
    .header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-icons__image {
    width: 100%;
    max-width: max-content;
}

.header-buttons__href {
    background: #8F23BC;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 12px 15px;
    transition: .2s linear;
    font-weight: 300;
    width: fit-content;
}

.header-buttons__href:hover {
    background: #AB36DC;
}
@media(max-width: 1025px) {
    .header-buttons {
        display: none;
    }
    .header-buttons__href {
        margin: 0 auto 20px auto;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        box-sizing: border-box;
    }
}

/* BANNER PRINCIPAL */
.banner-main {
    background: #222222;
    position: relative;
    background-image: url("img/new/bannerMainBackground-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 940px;
    margin-top: -70px;
    padding-top: 70px;
}

@media(min-width: 1026px) {
    .banner-main {
        background-image: url("img/new/bannerMainBackground.jpg");
        background-repeat: no-repeat;
        background-size: cover; 
        min-height: 768px;
    }
}

@media screen and (min-width: 1440px){
    .banner-main {
        min-height: 700px;
    }    
}

@media(min-width: 1026px) {
    .banner-main .container {
        display: flex;
        align-items: center;
        padding: 80px 0 50px 0;
    }
}

@media(min-width: 1026px) {
    .banner-main__texts {
        width: 50%;
        z-index: 9;
    }
}

.banner-main__title {
    color: #FFFFFF;
    font-weight: 400;
}
@media(min-width: 1026px) {
    .banner-main__title {
        font-size: 36px;
        line-height: 40px;
    }
}
@media(max-width: 1025px) {
    .banner-main__title {
        font-size: 24px;
        line-height: 30px;
        padding-top: 40px;
    }
}

.banner-main__description {
    line-height: 30px;
    color: #FFFFFF;
    font-weight: 300;
    margin: 40px 0;
    text-shadow: 0px 3px 6px #0000008F;
}
@media(min-width: 1026px) {
    .banner-main__description {
        font-size: 24px;
        line-height: 30px;
    }
}
@media(max-width: 1025px) {
    .banner-main__description {
        font-size: 18px;
        line-height: 24px;
    }
}

@media(min-width: 1026px) {
    .banner-main__image {
        position: absolute;
        right: 0;
        top: 0;
        width: 60%;
        width: 100%;
    }
}
@media(max-width: 1025px) {
    .banner-main__image {
        width: 100%;
        display: block;
        left: 0;
        right: 0;
        position: relative;
        margin: 0 auto;
    }
}

/* BENEFITS */
.benefits {
    background: #F8F8F8;
}

.benefits-header{}
@media screen and (max-width: 1025px){
    .benefits-header{
        display: flex;
        flex-direction: column-reverse;
    }    
}


@media(min-width: 1026px) {
    .benefits {
        padding: 80px 0 0;
    }
    
    .benefits-header {
        display: flex;
        align-items: flex-start;
        gap: 48px;
    }
}

@media(max-width: 1025px) {
    .benefits {
        padding: 50px 0;
    }
}

@media(min-width: 1026px) {
    .benefits-image {
        width: 100%;
        max-width: 463px;
    }
}
@media(max-width: 1025px) {
    .benefits-image {
        width: 100%;
        max-width: 240px;
        margin: 0 auto 30px auto;
        display: block;
    }
}

.benefits-texts__title {
    color: #272727;
    font-weight: 400;
}
@media(min-width: 1026px) {
    .benefits-texts__title {
        font-size: 24px;
        line-height: 30px;
    }
}
@media(max-width: 1025px) {
    .benefits-texts__title {
        font-size: 24px;
        line-height: 30px;
    }
}

.benefits-texts__title b{
    color: #7F00A6;
    font-weight: 600;
}

.benefits-texts__description {
    font-size: 18px;
    line-height: 24px;
    color: #272727;
    font-weight: 300;
    padding-top: 25px;
}

.benefits-subtitle {
    color: #272727;
    text-align: center;
    max-width: 500px;
    font-weight: 400;
    margin: 0 auto;
}
@media(min-width: 1026px) {
    .benefits-subtitle {
        font-size: 36px;
        line-height: 52px;
    }
}
@media(max-width: 1025px) {
    .benefits-subtitle {
        font-size: 36px;
        line-height: 34px;
        padding-top: 0;
        padding-bottom: 40px;
    }
}

.benefits-subtitle b b{
    color: #7F00A6;
    font-weight: 700;
}

h3.benefits-subtitle {
    padding: 0;
    padding-top: 80px;
}

.benefits-effect:before {
    border: 2px dashed #8F23BC;
    content: "";
    height: 95%;
    width: 100%;
    position: absolute;
    left: -6px;
    top: -5px;
    transition: .2s linear;
    border-radius: 5px;
    transform: matrix(1, -0.02, 0.02, 1, 0, 0);
}

.benefits-effect {
    position: relative;
}

@media screen and (max-width: 1025px){
    .benefits-effect {
        width: 100%;
        max-width: 100%;
    }    
}

@media(min-width: 1026px) {
    .benefits-items {
        padding-top: 50px;
        gap: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }    
}

.benefits-items__item {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    position: relative;
}

@media(max-width: 1025px) {
    .benefits-items__item::before{
        content: "";
        position: absolute;
        top: -5px;
        left: -2px;
        display: flex;
        width: 100%;
        height: 100%;
        transform: matrix(1, -0.02, 0.02, 1, 0, 0);
        border: 2px dashed #7F00A6;
        border-bottom: none;
        border-radius: 4px;
        /* border-right: none; */
    }

    .benefits-items__item {
        margin: 30px 0;
    }
    
    .benefits-items__item:last-child {
        margin-bottom: 0;
    }
}

@media(min-width: 1026px) {
    .benefits-items__item:nth-child(4) {
        width: 136%;
    }
    
    .benefits-items__item:nth-child(5) {
        width: 136%;
        margin-left: 54%;
    }
}

.benefits-items-pre{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
@media screen and (max-width: 1025px){    
    .benefits-items-pre{
        max-width: 95%;
        margin: 0 auto;
    }
}


.benefits-items-pre .benefits-items__item{    
    background: #FFFFFF;
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}

@media screen and (min-width: 1026px){
    .benefits-items-pre .benefits-items__item{    
        max-width: 340px;
    }    
}
@media screen and (max-width: 1025px){
    .benefits-items-pre .benefits-items__item::before{
        display: none;
    }
}

.benefits-items-pre .benefits-items__item:nth-child(5){
    margin-left: 0;
}

.benefits-item__title {
    font-size: 18px;
    line-height: 24px;
    color: #8F23BC;
    padding: 15px 0 25px 0;
    font-weight: 400;
}

.benefits-item__description {
    font-size: 18px;
    line-height: 24px;
    color: #010101;
    /* font-weight: 400; */
}

/* BENEFITS - TOP*/
.benefits-header-top{
    display: flex;
    align-items: center;
    gap: 0;
    padding-bottom: 40px;
    flex-direction: column;
}

@media screen and (min-width: 1026px){
    .benefits-header-top{
        gap: 22px;
        padding-bottom: 130px;
        flex-direction: row;
    }   
}

.benefits-header-top .benefits-image{
    max-width: 341px;
}

.benefits-header-top .benefits-texts__title {
    color: #272727;
    font-weight: 400;
}
@media(min-width: 1026px) {
    .benefits-header-top .benefits-texts__title {
        font-size: 24px;
        line-height: 30px;
    }
}
@media(max-width: 1025px) {
    .benefits-header-top .benefits-texts__title {
        font-size: 24px;
        line-height: 30px;
    }
}

.benefits-header-top .benefits-texts__description {
    font-size: 18px;
    line-height: 24px;
    color: #272727;
    font-weight: 300;
    padding-top: 15px;
}
@media screen and (min-width: 1026px){
    .benefits-header-top .benefits-texts__description {
        font-size: 14px;
        line-height: 18px;
    }        
}

.benefits-header-top .benefits-texts__description b{
    color: #7F00A6;
    font-weight: 600;
}

/* CASES */
@media(min-width: 1026px) {
    .cases {
        padding: 80px 0;
    }
}
@media(max-width: 1025px) {
    .cases {
        padding: 50px 0;
    }
}

.cases-title {
    text-align: left;
    color: #272727;
    font-weight: 600;
    max-width: 745px;
    margin: 0 auto;
    padding: 0 30% 0 0;
}
@media(min-width: 1026px) {
    .cases-title {
        text-align: center;
        font-size: 36px;
        line-height: 40px;
        padding: 0;
    }
}
@media(max-width: 1025px) {
    .cases-title {
        font-size: 24px;
        line-height: 30px;
    }
}

.cases-title b {
    font-weight: 600;
    color: #7F00A6;
}

.cases-main {
    margin: 25px 0;
    background: #050505;
    box-shadow: 0px 6px 12px #00000021;
    border-radius: 5px;
}
@media(min-width: 1026px) {
    .cases-main {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 40px;
    }
}
@media(max-width: 1025px) {
    .cases-main {
        padding: 40px 20px;
    }
}

.cases-main__images, .cases-main__texts {
    flex: 1;
}

.cases-main__logo {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
    display: block;
}

.cases-main__mockup {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: block;
}

.cases-main__title {
    color: #FFFFFF;
    font-weight: 400;
}
@media(min-width: 1026px) {
    .cases-main__title {
        font-size: 24px;
        line-height: 39px;
    }
    .cases-main__title-desktop {
        display: block;    
    }
    .cases-main__title-mobile {
        display: none;    
    }
}
@media(max-width: 1025px) {
    .cases-main__title {
        font-size: 24px;
        line-height: 34px;
        text-align: left;
    }
    .cases-main__title-desktop {
        display: none;    
    }
    .cases-main__title-mobile {
        display: block;    
    }
}

.cases-main__list{
    margin-top: 30px;
}

.cases-main__item{
    color: #FFFFFF;
    margin: 10px 0;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (min-width: 1026px){
    .cases-main__item{
        font-size: 18px;
        line-height: 24px;
    }   
}
.cases-main__item::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.921' height='7.058' viewBox='0 0 12.921 7.058'%3E%3Cg transform='translate(-0.256 -1.584)'%3E%3Cpath d='M.872,5.7h10.3L9.243,7.626a.588.588,0,0,0,.831.833L11.832,6.7l1.175-1.175a.587.587,0,0,0,0-.829L10.072,1.761a.589.589,0,1,0-.831.833l1.935,1.928H.841A.588.588,0,1,0,.872,5.7Z' transform='translate(0 0)' fill='%237f00a6'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background: contain;
    width: 14px;
    height: 8px;
    display: block;
    margin-right: 10px;
}

.cases-main__titleData{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 30px 0 20px 0;
}

@media screen and (min-width: 1026px){    
    .cases-main__titleData{
        font-size: 18px;
        line-height: 26px;
        margin: 15px 0;
    }
}

.cases-items {
    display: flex;
    gap: 24px;
}
@media(max-width: 1025px) {
    .cases-items {
        flex-direction: column;
    }
}

.cases-items__item {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #00000021;
    border-radius: 5px;
    text-align: center;
    padding: 40px;
    flex: 1;
}

.cases-item__logo {
    width: 100%;
    max-width: max-content;
    margin: 0 auto;
    display: block;
}

.cases-item__mockup {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    display: block;
}

.cases-item__description {
    color: #272727;
    font-weight: 600;
    padding-top: 20px;
}
@media(min-width: 1026px) {
    .cases-item__description {
        font-size: 18px;
        line-height: 22px;
    }
}
@media(max-width: 1025px) {
    .cases-item__description {
        font-size: 14px;
        line-height: 18px;
    }
}

/* ABOUT */
.about {
    background: #F2F2F2;
    background-image: url("img/new/reasons-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
@media(min-width: 1026px) {
    .about {
        padding: 80px 0;
    }
}
@media(max-width: 1025px) {
    .about {
        padding: 50px 0;
    }
}

@media(min-width: 1026px) {
    .about .container {
        display: flex;
        align-items: center;
        gap: 25px;
        flex-direction: column;
    }
    
    .about-texts, .about-items {
        flex: 1;
    }
}

.about-description {
    line-height: 36px;
    color: #272727;
    font-weight: 400;
}
@media(min-width: 1026px) {
    .about-description {
        font-size: 36px;
        line-height: 48px;
    }
}
@media(max-width: 1025px) {
    .about-description {
        font-size: 30px;
    }
}

.about-description b{
    color: #7F00A6;
    font-weight: 600;
}

.about-items {
    display: grid;
    gap: 25px;
}
@media(min-width: 1026px) {
    .about-items {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 1025px) {
    .about-items {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 25px;
    }
}

.about-items__item {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 15px 10px;
    text-align: center;
}

.about-item__text {
    font-size: 14px;
    line-height: 16px;
    color: #AB36DC;
    /*font-weight: 600;*/
    padding-top: 20px;
}

.about-items__item svg, .about-items__item img {
    height: 60px;
}

.about-items__item img {
    width: 100%;
    object-fit: none;
}

.about .header-buttons__href {
    margin: 50px auto 0 auto;
    text-align: center;
}

.about .steps{
    padding-top: 80px;
}

@media screen and (min-width: 1026px){
    .about .steps{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
    }    
}

.about .about-texts{}
@media screen and (min-width: 1026px){
    .about .about-texts{
        max-width: 500px;
    }
}

/* FALE CONOSCO */
.contact {
    margin: 50px 0;
    position: relative;
}

@media screen and (min-width: 1026px){
    .contact {
        margin: 25px 0;
    }   
}

.contact .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media(max-width: 1025px) {
    .contact .container {
        flex-direction: column;
    }
}

@media(min-width: 1026px) {
    .contact:before {
        content: "";
        background: #F2F2F2;
        height: 100%;
        width: 60%;
        border-radius: 0 5px 5px 0;
        position: absolute;
        left: 0;
        z-index: -1;
    }
}

@media(min-width: 1026px) {
    .contact-texts {
        padding: 0 0 0 25px;
        display: inline-block;
        vertical-align: top;
    }
}
@media(max-width: 1025px) {
    .contact-texts {
        order: 2;
        background: #F2F2F2;
        margin: 32px -10px 0 -10px;
        padding: 30px 20px 10px 20px;
        max-width: 100%;
    }
}

.contact-title-desktop {
    display: none;
}

.contact-title-mobile {
    display: block;
}

@media screen and (min-width: 1026px){
    .contact-title-desktop {
        display: block;
    }   

    .contact-title-mobile {
        display: none;
    }
}

.contact-title {
    color: #272727;
    font-weight: 600;
}
@media(min-width: 1026px) {
    .contact-title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }
}
@media(max-width: 1025px) {
    .contact-title {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 40px;
    }
}
.contact-title b {
    color: #7F00A6;
    font-weight: 700;
}

.contact-description {
    color: #272727;
    /*font-weight: 500;*/
    display: none;
}

@media screen and (min-width: 1026px){
    .contact-description {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 20px;
        display: block;
    }
}

.contact-image {
    width: 100%;
    max-width: 520px;
}
@media(max-width: 1025px) {
    .contact-image {
        order: 1;
        display: inherit;
    }
    
    .contact .header-buttons__href {
        text-align: center;
    }
}

/*Form*/
.contact-form{
    padding: 40px 0;
    background: #050505;
}

.form-title{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    max-width: 100%;
    position: relative;
    margin: 0;
}

@media screen and (min-width: 1026px){
    .form-title{
        font-size: 24px;
        line-height: 26px;
        max-width: max-content;
        padding-right: 15px;
    }    
}

.form-title::before{
    content: "";
    z-index: 2;
    position: absolute;
    bottom: -8px;
    right: 0;
    background: #D58CFF;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.form-title::after{
    content: "";
    background: transparent linear-gradient(270deg, #7F00A6 0%, #7F00A600 100%);
    display: block;
    width: 100%;
    height: 4px;
    top: 8px;
    left: 15px;
    position: relative;
}

@media screen and (max-width: 1025px){    
    .form-title::after{
        left: 0;
    }
}

.form-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (max-width: 1025px){
    .form-wrapper{
        padding-top: 60px;
        flex-direction: column;
    }    
}

.form{
    width: 100%;
    display: block;
    gap: 20px;
}
@media screen and (min-width: 1026px){
    .form{
        display: flex;
        flex-flow: row wrap;    
    }   
}

.form-image,
.form-content{
    width: 100%;
    margin-top: 20px;
}
@media screen and (min-width: 1026px){    
    .form-image,
    .form-content{
        width: 50%;
    }
}

.contact .form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(min-width: 1026px) {
    .contact .form {
        column-gap: 10px;
        row-gap: 35px;
    }
}
@media(max-width: 1025px) {
    .contact .form {
        flex-direction: column;
        row-gap: 20px;
    }
    .contact-form .form-field {
        margin-bottom: 10px;
    }
}

.cases-main__data {
    max-width: 100%;
}

.contact-form .form-label {
    font-size: 14px;
    color: #FFFFFF;
    display: block;
    padding-bottom: 2px;
}

.contact-form .form-field {
    width: 100%;
    background: #222222;
    border: 1px solid #FFFFFF;
    border-radius: 18px;
    height: 36px;
    color: #FFFFFF;
    font-size: 14px;
    text-indent: 20px;
    transition: .2s linear;
}

.contact-form .form-field:focus {
    border: 1px solid #7F00A6;
}

.contact-form .form-field::placeholder {
    color: #A1A1A1;
}

@media(min-width: 1026px) {
    .contact-form .form-item {
        width: calc(50% - 20px);
    }
}

.contact-form .form-button {
    width: 100%;
    text-align: left;
}

@media screen and (min-width: 1026px){
    .contact-form .form-button {
        width: 100%;
        max-width: 50%;
    }   
}

.contact-form .form-button__submit {
    font-size: 14px;
    text-transform: uppercase;
    background: #7F00A6;
    border-radius: 18px;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    width: 100%;
    transition: .2s linear;
    cursor: pointer;
}
@media(min-width: 1026px) {
    .contact-form .form-button__submit {
        max-width: 148px;
    }

    .contact-form .form-button__submit:hover {
        background: #9011D1;
    }
}

.contact-form .form-text {
    font-size: 12px;
    line-height: 16px;
    color: #A1A1A1;
}
@media(min-width: 1026px) {
    .contact-form .form-text {
        padding-top: 35px;
    }
}
@media(max-width: 1025px) {
    .contact-form .form-text {
        padding-top: 20px;
        padding-bottom: 25px;
    }
}

/* FOOTER */
.footer {
    background: #222222;
    padding: 40px 0;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 1025px) {
    .footer .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }
}

.footer-logo__image {
    width: 100%;
    max-width: 210px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1025px) {
    .footer-columns {
        flex-direction: column;
        gap: 25px;
    }
}

.footer-column {
    border-left: 2px solid #7F00A6;
    padding: 10px;
}

@media screen and (min-width: 1026px){
    .footer-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }   
}

.footer-text {
    font-size: 14px;
    line-height: 18px;
    color: #FFF;
    font-style: normal;
    transition: 0.2s linear;
    text-decoration: none;
}

@media (min-width: 1026px) {
    .footer-text:hover {
        color: #8F23BC;
    }
}

.footer-title {
    font-size: 16px;
    line-height: 18px;
    color: #FFF;
    font-weight: 600;
    padding-bottom: 10px;
}

.footer-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-social__icon:before {
    content: "";
    background-size: 100%;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    transition: 0.2s linear;
    margin: 0 12px 10px 0;
}

@media (min-width: 1026px) {
    .footer-social__icon:hover:before {
        transform: scale(1.1);
    }
}

.footer-social__facebook:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_105' data-name='Retângulo 105' width='25' height='25' transform='translate(1019 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-facebook' transform='translate(-1019 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='facebook' transform='translate(1031.5 5699.5)'%3E%3Cpath id='facebook-2' data-name='facebook' d='M10.219,4.151H12.5V.176A29.471,29.471,0,0,0,9.176,0C5.885,0,3.631,2.07,3.631,5.874v3.5H0v4.444H3.631V25H8.083V13.82h3.484l.553-4.444H8.082V6.315c0-1.284.347-2.164,2.136-2.164Z' transform='translate(-6.251 -12.5)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.footer-social__linkedin:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_106' data-name='Retângulo 106' width='25' height='25' transform='translate(1055 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-linkedin' transform='translate(-1055 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='linkedin' transform='translate(1067.5 5699.5)'%3E%3Cg id='linkedin-2' data-name='linkedin' transform='translate(-12.5 -12.5)'%3E%3Cpath id='Caminho_1686' data-name='Caminho 1686' d='M24.64,24.684h.006V15.515c0-4.485-.966-7.941-6.209-7.941a5.444,5.444,0,0,0-4.9,2.695h-.073V7.993H8.489V24.683h5.177V16.419c0-2.176.413-4.28,3.107-4.28,2.655,0,2.695,2.483,2.695,4.42v8.126Z' transform='translate(0.354 0.316)' fill='%23fff'/%3E%3Cpath id='Caminho_1687' data-name='Caminho 1687' d='M.4,7.977H5.579V24.668H.4Z' transform='translate(0.016 0.332)' fill='%23fff'/%3E%3Cpath id='Caminho_1688' data-name='Caminho 1688' d='M3,0A3.016,3.016,0,1,0,6,3,3,3,0,0,0,3,0Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.footer-social__instagram:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_107' data-name='Retângulo 107' width='25' height='25' transform='translate(1091 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-instagram' transform='translate(-1091 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='instagram' transform='translate(1103.5 5699.5)'%3E%3Cg id='instagram-2' data-name='instagram' transform='translate(-12.498 -12.5)'%3E%3Cpath id='Caminho_1692' data-name='Caminho 1692' d='M25.38,7.35A9.135,9.135,0,0,0,24.8,4.317,6.4,6.4,0,0,0,21.141.659,9.159,9.159,0,0,0,18.108.078C16.77.015,16.345,0,12.951,0S9.132.015,7.8.073A9.138,9.138,0,0,0,4.766.654,6.1,6.1,0,0,0,2.549,2.1,6.155,6.155,0,0,0,1.108,4.312,9.16,9.16,0,0,0,.527,7.345C.463,8.683.449,9.108.449,12.5s.015,3.819.073,5.152A9.135,9.135,0,0,0,1.1,20.688a6.4,6.4,0,0,0,3.658,3.658,9.16,9.16,0,0,0,3.033.581c1.333.059,1.758.073,5.152.073s3.819-.014,5.152-.073a9.133,9.133,0,0,0,3.033-.581,6.4,6.4,0,0,0,3.658-3.658,9.166,9.166,0,0,0,.581-3.033c.059-1.333.073-1.758.073-5.152s0-3.819-.064-5.152ZM23.129,17.557a6.852,6.852,0,0,1-.43,2.32,4.147,4.147,0,0,1-2.374,2.374,6.877,6.877,0,0,1-2.32.43c-1.319.059-1.714.073-5.05.073s-3.736-.014-5.05-.073a6.849,6.849,0,0,1-2.32-.43,3.847,3.847,0,0,1-1.436-.933,3.887,3.887,0,0,1-.933-1.436,6.878,6.878,0,0,1-.43-2.32c-.059-1.319-.073-1.714-.073-5.05s.014-3.736.073-5.05a6.849,6.849,0,0,1,.43-2.32,3.8,3.8,0,0,1,.938-1.436,3.881,3.881,0,0,1,1.436-.933,6.881,6.881,0,0,1,2.32-.43c1.319-.059,1.714-.073,5.05-.073s3.736.015,5.05.073a6.852,6.852,0,0,1,2.32.43,3.844,3.844,0,0,1,1.436.933A3.886,3.886,0,0,1,22.7,5.143a6.88,6.88,0,0,1,.43,2.32c.059,1.319.073,1.714.073,5.05s-.015,3.726-.073,5.045Zm0,0' transform='translate(-0.449 0)' fill='%23fff'/%3E%3Cpath id='Caminho_1693' data-name='Caminho 1693' d='M131.371,124.5a6.422,6.422,0,1,0,6.422,6.422A6.424,6.424,0,0,0,131.371,124.5Zm0,10.588a4.166,4.166,0,1,1,4.166-4.166A4.167,4.167,0,0,1,131.371,135.088Zm0,0' transform='translate(-118.869 -118.42)' fill='%23fff'/%3E%3Cpath id='Caminho_1694' data-name='Caminho 1694' d='M365.448,90.1a1.5,1.5,0,1,1-1.5-1.5A1.5,1.5,0,0,1,365.448,90.1Zm0,0' transform='translate(-344.77 -84.275)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.footer-social__spotify:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_139' data-name='Retângulo 139' width='25' height='25' transform='translate(1131 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-spotify' transform='translate(-1131 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='spotify-symbol' transform='translate(1143.5 5699.5)'%3E%3Cg id='spotify-symbol-2' data-name='spotify-symbol' transform='translate(-12.5 -12.5)'%3E%3Cpath id='Caminho_4065' data-name='Caminho 4065' d='M57.124,112.842c-4.16-1.923-9.984-1.072-10.229-1.035a1,1,0,0,0,.3,1.985c.054-.008,5.468-.8,9.088.873a1,1,0,1,0,.842-1.822Z' transform='translate(-39.88 -96.658)' fill='%23fff'/%3E%3Cpath id='Caminho_4066' data-name='Caminho 4066' d='M56.8,84.739c-4.725-2.183-11.351-1.216-11.63-1.174a1,1,0,0,0,.3,1.985c.063-.01,6.316-.917,10.489,1.011a1,1,0,1,0,.842-1.822Z' transform='translate(-38.382 -72.168)' fill='%23fff'/%3E%3Cpath id='Caminho_4067' data-name='Caminho 4067' d='M54.72,55.562c-5.219-2.412-12.549-1.342-12.859-1.3a1,1,0,0,0,.3,1.985c.07-.011,7.05-1.025,11.717,1.132a1,1,0,1,0,.842-1.822Z' transform='translate(-35.521 -46.767)' fill='%23fff'/%3E%3Cpath id='Caminho_4068' data-name='Caminho 4068' d='M12.5,0A12.5,12.5,0,1,0,25,12.5,12.514,12.514,0,0,0,12.5,0Zm0,22.993A10.493,10.493,0,1,1,22.993,12.5,10.5,10.5,0,0,1,12.5,22.994Z' transform='translate(0 -0.001)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.footer-social__deezer:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='25' viewBox='0 0 25 25'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Retângulo_140' data-name='Retângulo 140' width='25' height='25' transform='translate(1171 5687)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='icon-deezer' transform='translate(-1171 -5687)' clip-path='url(%23clip-path)'%3E%3Cg id='deezer-symbol' transform='translate(1183.5 5699.5)'%3E%3Cg id='deezer-symbol-2' data-name='deezer-symbol' transform='translate(-12.5 -6.975)'%3E%3Cg id='Grupo_570' data-name='Grupo 570'%3E%3Crect id='Retângulo_142' data-name='Retângulo 142' width='4.558' height='1.381' transform='translate(0 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_143' data-name='Retângulo 143' width='4.558' height='1.382' transform='translate(0 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_144' data-name='Retângulo 144' width='4.558' height='1.382' transform='translate(0 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_145' data-name='Retângulo 145' width='4.558' height='1.381' transform='translate(0 7.183)' fill='%23fff'/%3E%3Crect id='Retângulo_146' data-name='Retângulo 146' width='4.558' height='1.381' transform='translate(0 5.387)' fill='%23fff'/%3E%3Crect id='Retângulo_147' data-name='Retângulo 147' width='4.558' height='1.381' transform='translate(5.11 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_148' data-name='Retângulo 148' width='4.558' height='1.382' transform='translate(5.11 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_149' data-name='Retângulo 149' width='4.558' height='1.382' transform='translate(5.11 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_150' data-name='Retângulo 150' width='4.558' height='1.381' transform='translate(10.221 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_151' data-name='Retângulo 151' width='4.558' height='1.382' transform='translate(10.221 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_152' data-name='Retângulo 152' width='4.558' height='1.382' transform='translate(10.221 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_153' data-name='Retângulo 153' width='4.558' height='1.381' transform='translate(10.221 7.183)' fill='%23fff'/%3E%3Crect id='Retângulo_154' data-name='Retângulo 154' width='4.558' height='1.381' transform='translate(10.221 5.387)' fill='%23fff'/%3E%3Crect id='Retângulo_155' data-name='Retângulo 155' width='4.558' height='1.381' transform='translate(10.221 3.592)' fill='%23fff'/%3E%3Crect id='Retângulo_156' data-name='Retângulo 156' width='4.558' height='1.381' transform='translate(10.221 1.796)' fill='%23fff'/%3E%3Crect id='Retângulo_157' data-name='Retângulo 157' width='4.558' height='1.381' transform='translate(15.331 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_158' data-name='Retângulo 158' width='4.558' height='1.382' transform='translate(15.331 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_159' data-name='Retângulo 159' width='4.558' height='1.382' transform='translate(15.331 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_160' data-name='Retângulo 160' width='4.558' height='1.381' transform='translate(15.331 7.183)' fill='%23fff'/%3E%3Crect id='Retângulo_161' data-name='Retângulo 161' width='4.558' height='1.381' transform='translate(15.331 5.387)' fill='%23fff'/%3E%3Crect id='Retângulo_162' data-name='Retângulo 162' width='4.558' height='1.381' transform='translate(20.442 12.569)' fill='%23fff'/%3E%3Crect id='Retângulo_163' data-name='Retângulo 163' width='4.558' height='1.382' transform='translate(20.442 10.774)' fill='%23fff'/%3E%3Crect id='Retângulo_164' data-name='Retângulo 164' width='4.558' height='1.381' transform='translate(20.442 8.978)' fill='%23fff'/%3E%3Crect id='Retângulo_165' data-name='Retângulo 165' width='4.558' height='1.381' transform='translate(20.442 7.183)' fill='%23fff'/%3E%3Crect id='Retângulo_166' data-name='Retângulo 166' width='4.558' height='1.381' transform='translate(20.442 5.387)' fill='%23fff'/%3E%3Crect id='Retângulo_167' data-name='Retângulo 167' width='4.558' height='1.381' transform='translate(20.442 3.592)' fill='%23fff'/%3E%3Crect id='Retângulo_168' data-name='Retângulo 168' width='4.558' height='1.381' transform='translate(20.442 1.796)' fill='%23fff'/%3E%3Crect id='Retângulo_169' data-name='Retângulo 169' width='4.558' height='1.381' transform='translate(20.442)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.footer-column:nth-child(1),
.footer-column:nth-child(2) {
    padding: 10px 30px 10px 10px;
}

.footer-column:nth-child(3) {
    padding: 10px 0px 10px 10px;
}

.copyright{
    padding: 20px 0;
}

.copyright-text{
    color: #666666;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}